*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(210, 212, 212);
}
.first-section{
    background-color: white;
    padding:5rem;
    height: 50vh;
    width:100vw;
    margin:0rem 0.5rem 0rem 0.5rem;
    position:relative;

}
.first-section>h2{
    font-size:30px;
    position: absolute;
    top:5rem;
    left:23rem;
    font-family: 'Roboto', sans-serif;
}
.p-tag1{
    position: absolute;
    top:10rem;
    left:23rem;
    font-size: 1.2rem;
}
.p-tag1>p{
    line-height: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
.p-tag1>p>strong{
    color:rgb(55, 208, 136);
    font-family: 'Roboto', sans-serif;
}

/* This is the second div section  */

.second-section{
    background-color: rgb(125, 127, 128);
    height: 50vh;
    width:100vw auto;
    position:relative;
    display:grid;
    place-items: center;
    top:0.5rem;
    margin:-0.5rem 0.5rem;
    border-top:0.5rem solid rgb(195, 193, 193);
}
.inner-second{
   background-color: white;
   padding:0.5rem;
   word-wrap: break-word;
   height:18rem;
   border-bottom: 0.5rem solid rgb(103, 110, 103);
}
.inner-second p{
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    padding-left: 0.8rem;
    
}

.wealth>h3{
    height: 1rem;
    width:20rem;
    background-color: rgb(242, 168, 32);
    position:absolute;
    top: 4.3rem;
    text-align: center;
    padding:1.5rem;
    left:21rem;
    text-indent: -1.4rem;
    border-bottom: 0.4rem solid rgb(158, 117, 4);
    font-family: 'Roboto', sans-serif;     
} 

@media only screen and (max-width:390px){
    .first-section{
        padding:2rem;
        height:40vh;
        width:100vw;
    }
    .first-section>h2{
        font-size:2rem;
        left:2rem;
    }
    .p-tag1{
        top:10rem;
        left:2rem;
        padding-right:1rem;
    }
    .p-tag1 p{
        padding-bottom: 1rem;
    }
    .second-section{
        height: 60vh;
        width:100vw;
    }
    .wealth>h3{
        top: 4.3rem;
        left:0rem;
        text-indent: -2.4rem;
        width:20rem;
    }
    .inner-second{
        height:26rem;
        border-bottom: 0.5rem solid rgb(103, 110, 103);
     }
     .inner-second p{
        padding-left:1rem;
    padding-right: 1rem;
     word-wrap: break-word;

    }
    .wrapper{
       padding-top: 6rem;
    }
}

@media only screen and (min-width:820px){
    .first-section{
        padding:2rem;
        height:40vh;
        width:100vw;
    }
    .p-tag1{
        top:15rem;
        left:3rem;
        padding-right:1rem;
    }
    .first-section>h2{
        top:8rem;
        left:3rem;
        font-size:3rem;
    }
    .p-tag1 p{
        padding-bottom: 1rem;
    }
    .inner-second{
        height:26rem;
     }
     .inner-second p{
        padding-left:2rem;
    padding-right:2rem;
    font-size: 1.3rem;
    }
    .wrapper{
        padding-top: 10rem;
     }
     .wealth>h3{
        top: 6.3rem;
        left:0rem;
        text-indent: -1.3rem;
        width:30rem;
        padding:2rem 2rem 4rem 1rem ;
        width:33rem;
        font-size: 2rem;
        border-bottom: 0.6rem solid rgb(158, 117, 4)
  
     }
     .second-section{
        height: 50vh;
        width:100vw;
    }
}